/.ipynb_checkpoints
/3MTTAss1.ipynb
/alx rocks pebbles sands.docx
/Assignments
/Data sets
/Day1.docx
/Ebenezer Oluwafemi 3mmt ass1.docx
/Ebenezer Oluwafemi 3mmt ass1.pdf
/Ebenezer Oluwafemi 3mmt Week 5 Assignment.docx
/Ebenezer Oluwafemi 3mmt Week 5 Assignment.pdf
/Ebenezer Oluwafemi 3MTT Week 8.docx
/Ebenezer Oluwafemi 3MTT Week 8.pdf
/Ebenezer Oluwafemi 3MTT week 9.docx
/Ebenezer Oluwafemi 3MTT week 9.pdf
/~$enezer Oluwafemi 3mmt ass1.docx